* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 2% 10%;
}

/*started here for the header */

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

li a {
  color: #000;
  font-family: Ageo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.5px;
  color: #212832;
  text-decoration: none;
}

.signup {
  border-radius: 10px;
  background: #f60;
  border-radius: 5px;
  color: #fff;
  padding: 5px 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 200px;
}

/* stopped here for header */

/*FIRST SECTION START HERE*/

.first-section {
  display: flex;
  gap: 4rem;
  margin-top: 8rem;
}

.text-container {
  font-family: "Ageo Personal Use", sans-serif;
}

.text-container h1 {
  color: #0b1b35;
  font-size: 70px;
  font-weight: 850;
  line-height: 81px;
  word-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.sub-text {
  font-size: 23px;
  font-weight: 500;
  line-height: 28.5px;
  margin-bottom: 80px;
}

.button-container {
  display: flex;
  gap: 30px;
}

.button-container button {
  color: white;
  border-radius: 10px;
  width: 162px;
  height: 49px;
  font-size: 18px;
  background-color: #f60;
  border: none;
}

.learn-more-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.learn-more-icon {
  width: 50px;
  height: 50px;
}

.learn-more {
  font-size: 18px;
  font-weight: 500;
}

.image-container {
  position: relative;
  display: flex;
  top: -80px;
  left: 100px;
}

.chart-icon {
  width: 40px;
  height: 40.01px;
}

.chartbox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: -1;
  width: 275px;
  height: 73px;
  padding: 4px 15px;
  gap: 30px;
  background: #fff;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.review-text {
  display: flex;
  gap: 10px;
}

.services,
.rating {
  font-size: 14px;
}

.reviews {
  font-size: 14px;
  color: #8a898e;
}

.review-container {
  width: 275px;
  height: 73px;
  padding: 4px 15px;
  position: absolute;
  bottom: 280px;
  left: -100px;
  z-index: -1;
  background: #fff;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.star-icon {
  width: 14.169px;
  height: 13.459px;
}

.services {
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  margin-bottom: 2px;
}

.rating {
  font-size: 14px;
}

.reviews {
  font-size: 14px;
  color: #8a898e;
  font-weight: 500;
}

.frame {
  position: absolute;
  top: 200px;
  z-index: -1;
  left: 30px;
}

.man {
  width: 100%;
}

.frame-2 {
  position: absolute;
  right: 105px;
  z-index: -1;
  bottom: 480px;
}

/*FIRST SECTION ENDS HERE*/

/* Vison and Goal Section */
.wrapper {
  padding: 5px;
  /* margin: 50px auto; */
  background-color: white;
  color: black;
  margin-top: -200px;
  text-align: center;
}

#vision-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  /* margin: 5px 0; */
  padding: 10px;
  background-color: white;
}

.learn {
  width: 162px;
  height: 49px;
  color: white;
  border-radius: 10px;
  background: #ff6600;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.learn:hover {
  border: 2px solid orange;
  transition: 0.3s;
  background-color: white;
  color: orange;
}

.vision-text {
  font-family: Ageo;
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.vision {
  font-family: Ageo;
  font-size: 52px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: #0b1b35;
  margin-top: 10px;
  margin-bottom: 30px;
}

.box {
  width: 400px;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px #00000005,
    0px 6.650102138519287px 5.32008171081543px 0px #00000007,
    0px 12.521552085876465px 10.017241477966309px 0px #00000009,
    0px 22.3363094329834px 17.869047164916992px 0px #0000000b,
    0px 41.777610778808594px 33.422088623046875px 0px #0000000d,
    0px 100px 80px 0px #00000012;
  padding: 50px;
}

.intro {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.icon img {
  width: 76.47px;
  height: 76.47px;
  margin-bottom: 20px;
}

.card {
  text-align: center;
}

/*VISION AND GOAL SECTION ENDS HERE*/

/*PLAY SECTION START HERE*/
.video-section {
  display: flex;
  gap: 7rem;
  margin-top: 150px;
  width: 100%;
}

.video-text {
  width: 40%;
  margin-top: 40px;
}

.text-heading {
  font-size: 22px;
  font-family: DM Sans;
  color: #1e0e62;
  font-weight: 500;
  line-height: 32px;
}

.video-text p {
  color: rgba(21, 20, 57, 0.4);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.video-container {
  position: relative;
  width: 50%;
}

.video-container-image {
  width: 100%;
}

.video-container-icon {
  position: absolute;
  bottom: 140px;
  left: 45%;
  width: 84px;
  height: 84px;
}

.explore-button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #1e0e62;
  background-color: white;
  width: 132.68px;
  height: 48.247px;
  border-radius: 100px;
  border: 2px solid #ebeaed;
}

/*PLAY SECTION ENDS HERE*/

/* Testimonial Start */
.testimonial {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.testimonial p {
  font-family: "Ageo Personal Use", sans-serif;
  margin-top: 150px;
  line-height: 28.5px;
  letter-spacing: 6.3px;
  color: #8a898e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  letter-spacing: 6.3px;
}

.testimonial h2 {
  font-size: 52px;
  margin-bottom: 100px;
  margin-top: 10px;
  font-family: "Ageo Personal Use", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
}

.testimonies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimony p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  margin-top: 20px;
  opacity: 0.5;
}

.contents {
  flex: 0 1 calc(45% - 10px);
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.image img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.testimony {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimony span {
  font-family: DM Sans;
  margin-bottom: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/* Testimonial Ends */

/* TEAM SECTION STARTS HERE */
.teams {
  width: 100%;
  margin-top: 100px;
}

.teams p {
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6.3px;
  text-transform: uppercase;
}

.teams h2 {
  text-align: center;
  color: #0b1b35;
  font-family: Ageo;
  font-size: 52px;
  font-weight: 700;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
}

.card-info {
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.cards img {
  width: 80px;
  height: 80px;
}

.card-desc {
  padding: 1rem;
}

.card-desc h3 {
  color: #1e0e62;
  margin-top: 1rem;
}

.card-desc p {
  color: #8a898e;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0 0 5px 5px;
  margin: auto;
}

.social-icons svg {
  width: 20px;
  height: 20px;
}

.social {
  padding: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  flex: 1;
  box-sizing: border-box;
}

.social:last-child {
  border-right: none;
}

/* TEAM SECTION ENDS HERE */

/*SUBSCRIPTION AND NEWSLETTER SECTION */
.ima {
  max-width: 50%; 
  padding: 70px;
  display: flex;
  width: 421px;
  height: 350px;
  justify-content: center;
  align-items: center;
}
.ima img { 
  margin-left: 200px;    
}
.para-1 {
  margin-top: 50px;
  word-spacing: 1px;
  color: #a09ea3;
  text-align: center;
  font-family: Ageo;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 5px;
}
.header-2 {
  top: 80px;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
  color: #0B1B35;
  text-align: center;
  font-family: Ageo;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 54.808% */
}
.section-2 {
  display: flex;
}
.side-2 {
  display: block;  
}
.para-2 {
  color: #000;
  font-size: 18px; 
  margin-top: 120px;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-left: 45px;
}
form input {
  width: 600px;
  height: 30px;
  margin: 40px auto;
  padding: 15px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 30px;
  border: 2px;
  background: #FFF;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
}
.btn {
  width: 630px;
  height: 45px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
  background: #F60;   
}
.sub-btn {
  color: #f6efef;
  font-family: Ageo;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
footer {
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

footer ul li {
  color: var(--colors-heading, #1e0e62);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

footer a {
  color: #000;
  text-decoration: none;
}
