* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  padding: 2% 10%;
}

/*started here for the header */

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

li a {
  color: #000;
  font-family: Ageo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.5px;
  color: #212832;
  text-decoration: none;
}

.signup {
  border-radius: 10px;
  background: #f60;
  border-radius: 5px;
  color: #fff;
  padding: 5px 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 200px;
}
/* stopped here for header */

/*FIRST SECTION START HERE*/

.first-section {
  display: flex;
  gap: 4rem;
  margin-top: 8rem;
}
.text-container {
  font-family: 'Ageo Personal Use', sans-serif;
}
.text-container h1 {
  color: #0b1b35;
  font-size: 70px;
  font-weight: 850;
  line-height: 81px;
  word-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.sub-text {
  font-size: 23px;
  font-weight: 500;
  line-height: 28.5px;
  margin-bottom: 80px;
}

.button-container {
  display: flex;
  gap: 30px;
}
.button-container button {
  color: white;
  border-radius: 10px;
  width: 162px;
  height: 49px;
  font-size: 18px;
  background-color: #f60;
  border: none;
}
.learn-more-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.learn-more-icon {
  width: 50px;
  height: 50px;
}

.learn-more {
  font-size: 18px;
  font-weight: 500;
}
.image-container {
  position: relative;
  display: flex;
  top: -80px;
  left: 100px;
}
.chart-icon {
  width: 40px;
  height: 40.01px;
}
.chartbox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: -1;
  width: 275px;
  height: 73px;
  padding: 4px 15px;
  gap: 30px;
  background: #fff;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}
.review-text {
  display: flex;
  gap: 10px;
}
.services,
.rating {
  font-size: 14px;
}

.reviews {
  font-size: 14px;
  color: #8a898e;
}
.review-container {
  width: 275px;
  height: 73px;
  padding: 4px 15px;
  position: absolute;
  bottom: 280px;
  left: -100px;
  z-index: -1;
  background: #fff;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}
.star-icon {
  width: 14.169px;
  height: 13.459px;
}
.services {
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  margin-bottom: 2px;
}
.rating {
  font-size: 14px;
}
.reviews {
  font-size: 14px;
  color: #8a898e;
  font-weight: 500;
}
.frame {
  position: absolute;
  top: 200px;
  z-index: -1;
  left: 30px;
}
.man {
  width: 100%;
}
.frame-2 {
  position: absolute;
  right: 105px;
  z-index: -1;
  bottom: 480px;
}
/*FIRST SECTION ENDS HERE*/

/* Vison and Goal Section */
.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  /* margin: 50px auto; */
  background-color: white;
  color: black;
}

.vision-section {
  text-align: center;
  font-size: 21px;
}

/* .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  } */

#vision-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  /* margin: 5px 0; */
  padding: 10px;
  background-color: white;
}

.learn {
  width: 162px;
  height: 49px;
  color: white;
  border-radius: 10px;
  background: #ff6600;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.learn:hover {
  border: 2px solid orange;
  transition: 0.3s;
  background-color: white;
  color: orange;
}

.vision-text {
  font-family: Ageo;
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.vision {
  font-family: Ageo;
  font-size: 52px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: #0b1b35;
}
.box {
  width: 352px;
  height: 508px;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px #00000005,
    0px 6.650102138519287px 5.32008171081543px 0px #00000007,
    0px 12.521552085876465px 10.017241477966309px 0px #00000009,
    0px 22.3363094329834px 17.869047164916992px 0px #0000000b,
    0px 41.777610778808594px 33.422088623046875px 0px #0000000d,
    0px 100px 80px 0px #00000012;
}

.intro {
  width: 247px;
  height: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

.text {
  width: 270px;
  height: 187px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

.icon {
  width: 76.47px;
  height: 76.47px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  margin: 0 40px;
}

.card {
  width: 270px;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


footer {
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

footer ul li {
  color: var(--colors-heading, #1e0e62);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

footer a {
  color: #000;
  text-decoration: none;
}
